set interfaces {{egress_mpls_vlan_ccc_interface}} description {{egress_dcag_int_desc}} 
set interfaces {{egress_mpls_vlan_ccc_interface}} flexible-vlan-tagging
set interfaces {{egress_mpls_vlan_ccc_interface}} mtu 9000
set interfaces {{egress_mpls_vlan_ccc_interface}} encapsulation flexible-ethernet-services
