
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Config built by:				Ansible {{ansible_version.full}} on {{ansible_date_time.date}}
  Config built using template:  {{template_version}}
  Config Build date:            {{ansible_date_time.date}}-{{ansible_date_time.hour}}-{{ansible_date_time.minute}}-{{ansible_date_time.second}}
  Config location:              {{playbook_dir}}                                                                                                                                                                              
  Config Author:                Rich Botham
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



{{hostname}}

!'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''!
!A Side general section NEXUS PXAG
!
vlan {{a_exchange_vrf_vlan_bbjr}}
 name  {{a_exchange_vrf}}-to-BBJR
!
vlan {{a_exchange_vrf_vlan_dcag}}
 name  {{a_exchange_vrf}}-to-DCAG
!
interface {{a_side_bbjr_facing_int}}
 switchport trunk allowed vlan add {{a_exchange_vrf_vlan_bbjr}}
!
interface {{a_side_dcag_facing_int}}
 switchport trunk allowed vlan add {{a_exchange_vrf_vlan_dcag}}
!
interface loopback{{a_exchange_loopback_num}}
  vrf member {{a_exchange_vrf}}
  ip address {{a_exchange_loop_ipsub}}.{{a_exchange_loop_base+dev_id}}/32
!
interface Vlan{{a_exchange_vrf_vlan_bbjr}}
  vrf member {{a_exchange_vrf}}
  ip address {{a_exchange_pxag_bbjr_ipsub}}.{{a_exchange_pxag_bbjr_ip+1}}/31
  ip pim {{pim_mode}} 
  no shutdown
!
interface Vlan{{a_exchange_vrf_vlan_dcag}}
  vrf member {{a_exchange_vrf}}
  ip address {{a_exchange_pxag_dcag_ipsub}}.{{a_exchange_pxag_dcag_ip+2}}/31
  ip pim {{pim_mode}} 
  no shutdown
!
vrf context {{a_exchange_vrf}}
{% if a_exchange_group_mask1 and a_exchg_rp_addr1 %}
{% for exchg_grp in a_exchange_group_mask1 %}
ip pim rp-address {{a_exchg_rp_addr1}} group-list {{exchg_grp}}
{% endfor %}
{% endif %}
{% if a_exchange_group_mask2 and a_exchg_rp_addr2 %}
{% for exchg_grp in a_exchange_group_mask2 %}
ip pim rp-address {{a_exchg_rp_addr2}} group-list {{exchg_grp}}
{% endfor %}
{% endif %}
{% if a_exchange_group_mask3 and a_exchg_rp_addr3 %}
{% for exchg_grp in a_exchange_group_mask3 %}
ip pim rp-address {{a_exchg_rp_addr3}} group-list {{exchg_grp}}
{% endfor %}
{% endif %}
{% if a_exchange_group_mask4 and a_exchg_rp_addr4 %}
{% for exchg_grp in a_exchange_group_mask4 %}
ip pim rp-address {{a_exchg_rp_addr4}} group-list {{exchg_grp}}
{% endfor %}
{% endif %}
!
router bgp {{pxag_asn}}
  vrf {{a_exchange_vrf}}
    router-id {{a_exchange_loop_ipsub}}.{{a_exchange_loop_base+dev_id}}
    address-family ipv4 unicast
      network {{a_exchange_loop_ipsub}}.{{a_exchange_loop_base+dev_id}}/32
    neighbor {{a_exchange_pxag_bbjr_ipsub}}.{{a_exchange_pxag_bbjr_ip+0}} remote-as {{bbjr_asn}}
      timers 5 15
      description {{a_side_bbjr_hostname}}
      address-family ipv4 unicast
        send-community both
	route-map rm-bb-in in
	route-map rm-bb-out out
    neighbor {{a_exchange_pxag_dcag_ipsub}}.{{a_exchange_pxag_dcag_ip+3}} remote-as {{dcag_asn}}
      description {{a_side_dcag_hostname}}
      timers 5 15
      address-family ipv4 unicast
        send-community both
!
route-map rm-bb-in permit 5
	description "Match A Side Multicast Source Addresses"
	match community bgpcomm:mcast:A
route-map rm-bb-in permit 10
	description "Match A Side Unicast Source Addresses"
	match community bgpcomm:unicast
route-map rm-bb-in permit 15
	description "Match A Exchange Tagged Addresses"
	match community bgpcomm:ownertype:exchange
route-map rm-bb-in permit 20
	description "Match A Exchange VRF Tagged Addresses"
	match community bgpcomm:vrfid:{{a_exchange_vrf}}
!
route-map rm-bb-out permit 5
	description "Match Customer Tagged Routes"
	match community bgpcomm:ownertype:client
!
{% include a_side_bgp_comm %}
