

  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  Config built by:				Ansible {{ansible_version.full}} on {{ansible_date_time.date}}
  Config built using template:  {{template_version}}
  Config Build date:            {{ansible_date_time.date}}-{{ansible_date_time.hour}}-{{ansible_date_time.minute}}-{{ansible_date_time.second}}
  Config location:           	{{playbook_dir}}                                                                                                                                     
  Config Author:                Rich Botham
  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



#A-DCAG

#'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''#
#A Side general section

set routing-instances {{b_exchange_vrf}} instance-type virtual-router
set routing-instances {{b_exchange_vrf}} routing-options router-id {{b_exchange_loop_subnet}}.{{b_exchange_loop_4th_oct+2}}
set routing-instances {{b_exchange_vrf}} routing-options autonomous-system {{local_bgp_asn}}



#'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''#
#A Side interface section

set interfaces lo0 unit {{b_exchange_vrf_rt}} description "{vrf: {{b_exchange_vrf}}}"
set interfaces lo0 unit {{b_exchange_vrf_rt}} family inet address {{b_exchange_loop_subnet}}.{{b_exchange_loop_4th_oct+2}}{{loopback_mask}} preferred

set interfaces ae0 unit {{b_exchange_vrf_rt}} description "{vrf: {{b_exchange_vrf}} TRANSIT TO sort_this_out}"
set interfaces ae0 unit {{b_exchange_vrf_rt}} vlan-id {{b_exchange_vrf_rt}}
set interfaces ae0 unit {{b_exchange_vrf_rt}} family inet address {{b_exchange_transit_subnet}}.{{b_exchange_transit_4th_oct+2}}{{transit_mask}}

set routing-instances {{b_exchange_vrf}} interface ae0.{{b_exchange_vrf_rt}}
set routing-instances {{b_exchange_vrf}} interface lo0.{{b_exchange_vrf_rt}}


#'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''#

#multicast section

set routing-instances {{b_exchange_vrf}} protocols pim interface ae0.{{b_exchange_vrf_rt}} mode {{pim_mode}}
set routing-instances {{b_exchange_vrf}} protocols pim interface lo0.{{b_exchange_vrf_rt}} mode {{pim_mode}}


{% if pim_mode == "sparse-dense" %}
set routing-instances {{b_exchange_vrf}} protocols pim rp auto-rp discovery
set routing-instances {{b_exchange_vrf}} protocols pim dense-groups 224.0.1.40/32
{% endif %}


#*** RP 1 ***#
{% if b_exchange_group_mask1 and b_exchg_rp_addr1 %}
{% for exchg_grp in b_exchange_group_mask1 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr1}} group-ranges {{exchg_grp}}
{% endfor %}
{% endif %}

{% if b_exchange_group_mask1 and b_exchg_rp_addr1 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr2}} override
{% endif %}

#*** RP 2 ***#
{% if b_exchange_group_mask2 and b_exchg_rp_addr2 %}
{% for exchg_grp in b_exchange_group_mask2 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr2}} group-ranges {{exchg_grp}}
{% endfor %}
{% endif %}

{% if b_exchange_group_mask2 and b_exchg_rp_addr2 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr2}} override
{% endif %}

#*** RP 3 ***#
{% if b_exchange_group_mask3 and b_exchg_rp_addr3 %}
{% for exchg_grp in b_exchange_group_mask3 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr3}} group-ranges {{exchg_grp}}
{% endfor %}
{% endif %}

{% if b_exchange_group_mask3 and b_exchg_rp_addr3 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr3}} override
{% endif %}

#*** RP 4 ***#
{% if b_exchange_group_mask4 and b_exchg_rp_addr4 %}
{% for exchg_grp in b_exchange_group_mask4 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr4}} group-ranges {{exchg_grp}}
{% endfor %}
{% endif %}

{% if b_exchange_group_mask4 and b_exchg_rp_addr4 %}
set routing-instances {{b_exchange_vrf}} protocols pim rp static address {{b_exchg_rp_addr4}} override
{% endif %}
